[submodule "Cultura/mattermost-traefik-letsencrypt-docker-compose"]
    path = Cultura/mattermost-traefik-letsencrypt-docker-compose
    url = https://github.com/heyvaldemar/mattermost-traefik-letsencrypt-docker-compose
